.blog-container {
  width: 70%;
  margin: auto;
  margin-bottom: 3rem;
  &__title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    h2 {
      font-size: 2rem;
      @include gra-color(90deg);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  a {
    margin: auto;
  }
}