.contact {
  width: 100%;
  padding: 3rem;
  @include gra-color(90deg);
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  &__title {
    letter-spacing: 0.3rem;
    padding-bottom: 2rem;
  }
  &__content {
    p {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    a {
      margin: auto;
    }
  }
}