.plans_container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include sp {
    width: 80%;
  }
}
.plan {
  display: flex;
  width: 49%;
  box-shadow: 5px 5px 9px 0px #000000;
  &:nth-child(-n+2) {
    margin-bottom: 1rem;
  }
  @include sp {
    width: 100%;
    margin-bottom: 1rem;
    &:last-child {
      margin: 0;
    }
  }
  .plan__img-container {
    width: 100px;
    height: 100px;
    background-color: #13547A;
    display: flex;
    justify-content: center;
    align-items: center;
    .plan__img {
      width: 60%;
      object-fit: contain;
    }
  }
}
.plan-content {
  position: relative;
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  .plan-content__text {
    .plan_title {
      margin-left: 1rem;
      letter-spacing: 0.1rem;
      @include sp {
        width: 75%;
      }
    }
    .plan_price {
      font-weight: 700;
      position: absolute;
      right: 1rem;
      bottom: 0rem;
      display: flex;
      &__num {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        @include gra-color(90deg);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 0.3rem;
      }
      &__text {
        align-self: center;
        @include gra-color(90deg);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}