.price_wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  @include sp {
    width: 95%;
  }
  .price_container {
    padding: 2rem;
    display: flex;
    @include sp {
      padding: 0.5rem;
    }
    .price_img-container {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.price-info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include sp {
    align-items: flex-end;
  }
  .price-info__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    @include sp {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }
  }
  .price-info__button {
    margin: 0 auto;
  }
}