.second-about {
  position: relative;
  width: 85%;
  // height: 622px;
  height: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  @include sp {
    width: 100%;
    height: 500px;
  }
  .second-about__bg {
    @include gra-color(90deg);
    width: 65%;
    margin-left: auto;
    padding: 5rem;
    box-sizing: border-box;
    @include tab {
      width: 75%;
    }
    @include sp {
      width: 100%;
      padding: 2rem;
    }
    .second-about__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .second-about__text-container {
    box-sizing: border-box;
    width: 45%;
    padding: 3rem 2rem;
    background-color: #fff;
    box-shadow: 0px 4px 34px 0px #000000 5%;
    position: absolute;
    bottom: 30px;
    @include tab {
      width: 50%;
      padding: 2.5rem 1.5rem;
    }
    @include sp {
      width: 90%;
      padding: 2rem 1rem;
      left: 1.3rem;
    }
    .second-about__title {
      font-size: 2rem;
      margin-bottom: 1rem;
      @include tab {
        font-size: 1.3rem;
      }
      @include sp {
        font-size: 1.5rem;
      }
    }
    .second-about__text {
      font-size: 1.5rem;
      font-weight: 300;
      @include tab {
        font-size: 0.8rem;
      }
      @include sp {
        font-size: 1rem;
      }
    }
  }
}